@font-face {
    font-family: "PetitLatin";
    src: url('fonts/PetitLatin.ttf');
    }

h1 {
  text-align: center;
  color: royalblue;
  text-shadow: 1px 1px 1px #004899;
  font-size: 3.5em;
}

/*.retour_menu:before {
  content: url(../medias/images/left-arrow.png);
}
*/
h2 {
  text-align: center;
  color: royalblue;
  text-shadow: 1px 1px 1px #004899;
  font-size: 1.5em;
}

.menu ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 display: flex;
 }

.menu li {
 margin:auto;
 padding:15px 0 15px 0;
 background-color:black;
 flex-grow: 1;
 border: 1px solid royalblue;
}

.menu li a {
 display:block;
 width:200px;
 color:black;
 text-decoration:none;
 padding: 10px;
 font-size: 1.5em;
 font-family: 'Rock Salt';
 text-align: center;
 }

 .menu li a {
   color: #fdfdfd;
 }

 .menu li{
   background-color:#004899;
   margin-top: 20px;
 }

 .menu li:hover{
   background-color: royalblue;
 }

 h1 {
     background-image: url(../medias/images/bg_menu.png);
     background-position: center;
     background-repeat: no-repeat;
     height: 1em;
 }
 .menu{
  justify-content: center;
  top: 0;
  background-color: white;

  width: 100%;
  z-index: 2;
  text-align: center;
  line-height: 1em;
  margin: 0;
  position: fixed;
 }

 .menu ul li ul {
   display:none;
 }

 .menu li ul {
    position:absolute;
 }
 .menu li ul li {
     margin-top: 0!important;
     width: 100%;
 }


 .menu ul li:hover ul {
   display:block;
 }
.menu li:hover ul li {
  float:none;
 }

 .content {
   background-image: url('../medias/images/bg_img.jpg');
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 400px;
 }

 table {
   table-layout: fixed;
   width: 100%;
   border-collapse: collapse;
   border: 3px solid #004899;
 }

 thead th:nth-child(1) {
   width: 30%;
 }

 thead th:nth-child(2) {
   width: 20%;
 }

 thead th:nth-child(3) {
   width: 15%;
 }

 thead th:nth-child(4) {
   width: 27.5%;
 }

 thead th:nth-child(5) {
   width: 7.5%;
 }

 th, td {
   padding: 20px;
 }
 html {
   font-family: 'helvetica neue', helvetica, arial, sans-serif;
 }

 thead th, tfoot th {
   font-family: 'Rock Salt', cursive;
 }

 th {
   letter-spacing: 2px;
   background-color: #004899 !important;
 }

 td {
   letter-spacing: 1px;
 }

 tbody td {
   text-align: center;
 }

 tfoot th {
   text-align: right;
 }

 thead, tfoot {
     background: url(/data_img/bckgrndimg.jpg);
   color: white;
   text-shadow: 1px 1px 1px #004899;
 }

 thead th, tfoot th, tfoot td {
   background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
   border: 3px solid #004899;
 }

 tbody tr:nth-child(odd) {
   background-color: #004899;
 }

 tbody tr:nth-child(even) {
   background-color: #fdfdfd;
 }

 #tableau_joueurs tr:nth-child(odd) {
   color: #fdfdfd;
 }

 #tableau_joueurs tr:nth-child(even) {
   color: #004899;
 }

 #tableau_joueurs tr:nth-child(odd):hover {
   background-color: royalblue;
 }

 #tableau_joueurs tr:nth-child(even):hover {
   background-color: gainsboro;
 }

 table {
   background-color: #fdfdfd;
 }

 h3 {
   text-align: center;
   color: royalblue;
   text-shadow: 1px 1px 1px #004899;
   font-size: 1.5em;
 }

 .interviews_audio{
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: center;
 }
 .interviews_audio li {
   border: 4px solid royalblue;
   margin-bottom: 15px;
   margin-right: 15px;
   width:40%;
   padding: 5px;
 }

 .interviews_audio audio {
   display: block;
   margin: auto;
 }

 .interviews_video{
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: center;
 }
 .interviews_video li {
   border: 4px solid royalblue;
   margin-bottom: 15px;
   margin-right: 15px;
   width:40%;
   padding: 5px 5px 5px 5px;
 }

 .interviews_video video {
   display: block;
   margin: auto;
   width: 400px;
   height: 300px;
 }

 .contact {
   width: 35%;
   text-align: right;
 }

 input[value="Envoyer"] {
   display: block;
   margin: auto;
 }

 .form_contact {
   display: flex;
   justify-content: center;
 }

 #info_form {
   font-size: 22px;
   width: 70%;
   color: royalblue;
   margin: auto;
 }

 .active {
   background-color: royalblue !important;
 }

 .capitaine {
     color: yellow;
     background-color: black;
 }
