
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #004899;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 31%;
}

thead th:nth-child(5) {
  width: 8%;
}

thead th:nth-child(6) {
  width: 8%;
}

thead th:nth-child(7) {
  width: 8%;
}

th, td {
  padding: 20px;
}
html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
  background-color: #004899 !important;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

thead, tfoot {
  background: url(/data_img/bckgrndimg.jpg);
  color: white;
  text-shadow: 1px 1px 1px #004899;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid #004899;
}

tbody tr:nth-child(odd) {
  background-color: #004899;
  transition: background-color 450ms ease-in-out;
}
tbody tr:nth-child(odd) {
  background-color: #004899;
  transition: background-color 250ms ease-in-out;
}

tbody tr:nth-child(even) {
  background-color: #fdfdfd;
}

#tableau_joueurs tr:nth-child(odd) {
  color: #fdfdfd;
}

#tableau_joueurs tr:nth-child(even) {
  color: #004899;
}

#tableau_joueurs tr:nth-child(odd):hover {
  background-color: royalblue;
}

#tableau_joueurs tr:nth-child(even):hover {
  background-color: gainsboro;
}

table {
  background-color: #fdfdfd;
}